<html>
  <head>
    <title>Message board</title>
  </head>
  <body>
    <h1>Welcome to the message board</h1>
    <a href="/new">Leave a message</a>
    <ul>
      <% messages.forEach(message => { %>
        <%- include('messages/message', { message }) %>
      <% }) %>
    </ul>
  </body>
</html>
