<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('navbar', { links }) %>
    <%= message %>

    <ul>
      <% users.forEach(user => { %>
        <%- include('user', {user}) %>
      <% }) %>
    </ul>
  </body>
</html>

