:root {
  --cv-bg: #FFF8F0;
  --sidebar-bg: #E85F5C;
  --ribbon-bg: #9E2B25;
  --name-bg: #313638;
  --name-fg: #FFF8F0;

  --font-mono: "Chivo Mono", "IBM Plex Mono", "SF Mono", "Menlo", monospaced;
  --font-fancy: "Chivo", sans-serif;
}

.cv-wrapper {
  border-radius: 4px;
  background: var(--cv-bg);
  border: 2px solid var(--name-bg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 10rem auto;
  width: 1000px;
}

.name-wrapper {
  background: var(--name-bg);
  color: var(--name-fg);
  font-family: var(--font-fancy);
}


.name {
  display: flex;
  flex-direction: column;
  margin: 75px 40px 35px;
  align-items: start;
}

.name-wrapper h1 {
  display: block;
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}

.cv {
  display: flex;
}

.sidebar {
  border-left: 2px solid var(--sidebar-bg);
  padding: 10px;
  width: 250px;
  margin: 20px;
  margin-right: 5px;
}

.ribbon {
  margin: 20px;
  margin-left: 5px;
  border-left: 2px solid var(--ribbon-bg);
  width: 150px;
}

section h3 {
  border-bottom: 1px black solid;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--font-mono);
}

main > section {
  margin: 35px;
}

.sidebar section, .ribbon section {
  margin: 15px;
}

.job > h4 {
  font-family: var(--font-fancy);
  font-size: 1.5rem;
  margin: 25px 0 5px;
}

.job > .job-subtitle {
  opacity: 0.8;
  margin: 5px 0 10px;
  font-family: var(--font-mono);
}

ul {
  list-style: none;
  padding: 0;
}

.skill {
  margin: 10px 0;
}

.skill > .skill-name {
  font-weight: 600;
}

.skill > p {
  margin: 5px 0;
}

.skill > .level-str {
  font-family: var(--font-mono);
  text-transform: uppercase;
  font-size: 0.8rem;
}

section.school {
  margin: 10px 0;
}

.school-title, .school-subtitle {
  margin: 5px 0;
}

.code-link, .social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: var(--font-mono);
  margin: 5px 0;
}

.code-link > p, .social-link > p {
  margin: 5px;
}

.name-wrapper .edit-button {
  color: white;
}

.name-wrapper .edit-button > img {
  filter: invert();
}

.edit-button {
  opacity: 0.8;
  display: flex;
  align-items: center;
  background: none; 
  border: none;
  font-weight: 500;
  font-family: var(--font-mono);
  padding: 4px 0;
  border-bottom: 2px solid white;
  cursor: pointer;
  font-size: 0.75rem;
}

.edit-button > img {
  margin-right: 5px;
  width: 12px;
}

